<a href="https://colab.research.google.com/github/mahi1918/webscrapingrapo/blob/main/Webscrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city"

In [4]:
request=requests.get(url)
request

In [6]:
soup=BeautifulSoup(request.content,'html')
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [7]:
soup.find('span')

In [9]:
#soup.find_all('span')

In [10]:
soup.find('span',attrs={'class':'seller-type'})

In [13]:
soup.find('span',attrs={'class':'seller-type'}).text

'BUILDER'

In [20]:
soup.find('div',attrs={'data-type':'price-link'}).text

' 1.02 Cr'

In [22]:
soup.find('div',attrs={'class':'title-line'}).span.text

'3 '

In [23]:
soup.find('span',attrs={'itemprop':'addressLocality'}).text

'Tellapur'

In [24]:
soup.find('td',attrs={'class':'size'}).text.strip()

'1980'

In [25]:
soup.find('td',attrs={'class':'lbl rate'}).text

'5,200 / sq ft'

In [26]:
soup.find('td',attrs={"class":'val'}).text

'Under Construction'

In [27]:
soup.find('li',attrs={'class':'keypoint',
                      'title':'Bathrooms'}).text

'3 Bathrooms'

In [28]:
sel_lst = soup.find_all('span',attrs={'class':'seller-type'})
print(sel_lst)
print(len(sel_lst))

[<span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>]
20

In [31]:
sel_info = []
for i in sel_lst:
  sel_info.append(i.text)
sel_info

['BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER']

In [32]:
sel_info_c = [i.text for i in sel_lst]

In [33]:
prc_lst = soup.find_all('div',attrs={'data-type':'price-link'})
prc_info = [i.text.strip() for i in prc_lst]
prc_info

['1.02 Cr',
 '1 Cr',
 '1.15 Cr',
 '42 L',
 '7.04 Cr',
 '1.26 Cr',
 '90.75 L',
 '5.13 Cr',
 '64.99 L',
 '69.62 L',
 '1.74 Cr',
 '52.1 L',
 '98.83 L',
 '1.5 Cr',
 '1.37 Cr',
 '42 L',
 '66.79 L',
 '1.26 Cr',
 '3.28 Cr',
 '39.99 L']

In [34]:
nbhk_lst = soup.find_all('div',attrs={'class':'title-line'})
nbhk_info = [i.span.text.strip() for i in nbhk_lst]
nbhk_info

['3',
 '3',
 '3',
 '2',
 '4',
 '3',
 '3',
 '4',
 '3',
 '3',
 '4',
 '3',
 '4',
 '4',
 '3',
 'Residential Plot',
 '3',
 'Residential Plot',
 '4',
 'Residential Plot']

In [35]:
#location list
loc_lst= soup.find_all('span',attrs={'itemprop':'addressLocality'})
loc_info = [i.text for i in loc_lst]
loc_info

['Tellapur',
 'Kokapet',
 'Kondapur',
 'Bachupally',
 'Serilingampally',
 'Nanakramguda',
 'Nizampet',
 'Osman Nagar',
 'Isnapur',
 'Gundlapochampally',
 'Hayathnagar',
 'Pocharam',
 'Ramachandrapuram',
 'Bachupally',
 'Yapral',
 'Aushapur',
 'Kollur',
 'Sheriguda',
 'LB Nagar',
 'Kadthal']

In [36]:
prcsqft_lst = soup.find_all('td',attrs={'class':'lbl rate'})
prcpsqft_info = [i.text for i in prcsqft_lst]
prcpsqft_info

['5,200 / sq ft',
 '6,100 / sq ft',
 '6,568 / sq ft',
 '4,800 / sq ft',
 '16,553 / sq ft',
 '7,600 / sq ft',
 '5,500 / sq ft',
 '12,000 / sq ft',
 '3,258 / sq ft',
 '4,169 / sq ft',
 '6,900 / sq ft',
 '3,830 / sq ft',
 '3,800 / sq ft',
 '6,521 / sq ft',
 '5,400 / sq ft',
 '1,333 / sq ft',
 '3,399 / sq ft',
 '4,000 / sq ft',
 '7,950 / sq ft',
 '1,111 / sq ft']

In [37]:
area_lst = soup.find_all('td',attrs={'class':'size'})
area_info = [i.text.strip() for i in area_lst]
area_info

['1980',
 '1641',
 '1766',
 '875',
 '4259',
 '1670',
 '1650',
 '4280',
 '1995',
 '1670',
 '2525',
 '1360',
 '2601',
 '2300',
 '2545',
 '3150',
 '1965',
 '3150',
 '4132',
 '3600']

In [38]:
cons_lst = soup.find_all('td',attrs={"class":'val'})
cons_info = [i.text for i in cons_lst]
cons_info

['Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'New',
 'Under Construction',
 'New',
 'Under Construction',
 'New']

In [39]:
nbath_lst = soup.find_all('li',attrs={'class':'keypoint','title':'Bathrooms'})
nbath_info = [i.text for i in nbath_lst]
nbath_info

['3 Bathrooms', '3 Bathrooms', '2 Bathrooms']

In [40]:
bathr =soup.find_all('ul',attrs={'class':'listing-details'})
nbath_info = []
for i in bathr:
  if i.find('li',attrs={'class':'keypoint','title':'Bathrooms'})is None:
    nbath_info.append("Not Mentioned")
  else:
    nbath_info.append(i.find('li',attrs={'class':'keypoint','title':'Bathrooms'}).text)
nbath_info

['Not Mentioned',
 '3 Bathrooms',
 '3 Bathrooms',
 '2 Bathrooms',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned']

In [41]:
import pandas as pd
data = pd.DataFrame({
    'Seller_info':sel_info_c,
    'Price':prc_info,
    'Locality':loc_info,
    'No_bhk':nbhk_info,
    'Price_per_Sqft':prcpsqft_info,
    "Construction_status":cons_info,
    "Area":area_info,
    "No_bathrooms":nbath_info
})

In [42]:
data

   Seller_info    Price  ...  Area   No_bathrooms
0      BUILDER  1.02 Cr  ...  1980  Not Mentioned
1      BUILDER     1 Cr  ...  1641    3 Bathrooms
2      BUILDER  1.15 Cr  ...  1766    3 Bathrooms
3      BUILDER     42 L  ...   875    2 Bathrooms
4      BUILDER  7.04 Cr  ...  4259  Not Mentioned
5      BUILDER  1.26 Cr  ...  1670  Not Mentioned
6      BUILDER  90.75 L  ...  1650  Not Mentioned
7      BUILDER  5.13 Cr  ...  4280  Not Mentioned
8      BUILDER  64.99 L  ...  1995  Not Mentioned
9      BUILDER  69.62 L  ...  1670  Not Mentioned
10     BUILDER  1.74 Cr  ...  2525  Not Mentioned
11     BUILDER   52.1 L  ...  1360  Not Mentioned
12     BUILDER  98.83 L  ...  2601  Not Mentioned
13     BUILDER   1.5 Cr  ...  2300  Not Mentioned
14     BUILDER  1.37 Cr  ...  2545  Not Mentioned
15     BUILDER     42 L  ...  3150  Not Mentioned
16     BUILDER  66.79 L  ...  1965  Not Mentioned
17     BUILDER  1.26 Cr  ...  3150  Not Mentioned
18     BUILDER  3.28 Cr  ...  4132  Not Mentioned
19     BUILDER  39.99 L  ...  3600  Not Mentioned

[20 rows x 8 columns]

In [43]:
data.head()

  Seller_info    Price  ...  Area   No_bathrooms
0     BUILDER  1.02 Cr  ...  1980  Not Mentioned
1     BUILDER     1 Cr  ...  1641    3 Bathrooms
2     BUILDER  1.15 Cr  ...  1766    3 Bathrooms
3     BUILDER     42 L  ...   875    2 Bathrooms
4     BUILDER  7.04 Cr  ...  4259  Not Mentioned

[5 rows x 8 columns]

In [44]:
data.to_csv('Aprmntshyd.csv')